/* Group 13 */
.mainHeader {
    aspect-ratio: 80/3;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #EF14F3;
    position: relative;
    
}

.mainHeader h1 {
    position: absolute ;    
    font-family: 'Ubuntu';
    font-size: 2.4vw;
    color: #000000;
    margin: auto;
    left: 2%;
    top: 12.5%;
}


